<h2 class="reg_courses_title" [translate]="'Registrations.RegistrationCourses'"></h2>
<p *ngIf="openRegistrationPeriod && !loading" [translate]="'CourseRegistration.RegistrationOpenDates'"
  [translateParams]="{start: start, end: end}"></p>
<div *ngIf="canRegister">

  <!-- *************** NEW NAVIGATION BAR ************** -->
  <div class="reg_navbar d-none d-sm-block">
    <form class="form-inline p-3 col">
      <div class="form-group col-5">
        <label class="pr-2" for="searchText" [translate]="'Registrations.GroupBy'"></label>
        <select class="form-control" (change)="onChangeGroup($event.target.value)">
          <option value="semester" [translate]="'Registrations.Semester'"></option>
          <option value="courseType" [translate]="'Registrations.Type'"></option>
        </select>
      </div>
      <div class="form-group col-7">
        <label class="pr-2" for="searchText" [translate]="'Registrations.Search'"></label>
        <input [(ngModel)]="query" spellcheck="false" type="text" id="searchText" name="searchText" class="form-control col text-left"
          placeholder="{{ 'Registrations.SearchPlaceholder' | translate }}">
      </div>
    </form>
  </div>

  <div class="reg_courses_body">
    <div class="reg_courses_body__semesterChoice d-none d-lg-block" *ngIf="semesterGroup">
      <!-- filtering By Semester -->
      <!-- <div (click)="removeSemesterFiltering()" [translate]="'Registrations.RemoveFilter'"></div> -->      <!-- Remove Filitering -->
      <div *ngFor="let semester of semesters" (click)="filterBySemester(semester.semester.id)" [ngClass]="{'choosenSemesterforFiltering': choosenSemester == semester.semester.id}"
        class="semesterChoice-item">
        {{semester.semester.name}}
      </div>
    </div>

    <div class="reg_courses_body__main">
      <div *ngIf="semesterGroup">
        <h4 class="reg_courses_body__main_semesterTitle" [ngStyle]="{'display': choosenSemester == null ? 'none' : 'inherit'}">{{
          choosenSemester }}<span [translate]="'CourseRegistration.RegistrationSemesterEnding'"></span></h4>
      </div>

      <div *ngFor="let group of groups">
        <h4 class="reg_courses_body__main_typeTitle">{{group.courseType?.name}}</h4>

        <div *ngFor="let course of group.courses | filterBy:['name']:query" class="reg_courses_body__main_card">

          <div class="flex-grow-1">
            <div>
              <!-- Name of lesson and Semester -->
              <h6 class="reg_courses_body__main_card__titleLesson">{{course?.name}}</h6>
              <div class="reg_courses_body__main-information">
                <div class="display-flex justify-content--space-btw">
                  <div class="color--gray-600 text-uppercase">{{course?.semester.name}}</div>

                  <!-- Show more - button in small screens -->
                  <div *ngIf="!course.isHidden" (click)="toggleBlock(course)" class="display-flex d-sm-none align-items--center">
                    <span class="color--gray-600" [translate]="'Registrations.More'" ></span>
                    <div class="arrow-down reg__arrow-down--container"></div>
                  </div>
                </div>


              </div>
            </div>

            <!-- lesson-details Desktop-Tablet -->
            <div class="ng-hide reg_courses_body__main_card__lessonDetails d-none d-sm-flex">
                <div class="reg_courses_body__main_card__lessonDetails_item"><i class="far fa-flag pr-2"></i>{{course?.displayCode}}</div>
                <div class="reg_courses_body__main_card__lessonDetails_item"><i class="fas fa-graduation-cap pr-2"></i>{{course?.specialty?.abbreviation}}</div>
                <div class="reg_courses_body__main_card__lessonDetails_item"><i class="far fa-flag pr-2"></i>{{course?.courseType.name}}</div>
  
                <div class="display-flex justify-content--space-btw mt-10">
                  <div>
                      <i class="fas fa-graduation-cap pr-2"></i>
                    <span class="reg_courses_body__main_card__lessonDetails_item"><span [translate]="'Registrations.CP'"></span>:
                      {{course?.units}}</span>
                    <span class="reg_courses_body__main_card__lessonDetails_item"><span [translate]="'Registrations.ECTS'"></span>:
                      {{course?.ects}}</span>
                  </div>
                </div>

              </div>



            <!-- lesson-details Mobile-->
            <div *ngIf="course.isHidden" class="ng-hide reg_courses_body__main_card__lessonDetails d-flex d-sm-none">
              <div class="reg_courses_body__main_card__lessonDetails_item"><i class="far fa-flag pr-2"></i>{{course?.displayCode}}</div>
              <div class="reg_courses_body__main_card__lessonDetails_item"><i class="fas fa-graduation-cap pr-2"></i>{{course?.specialty?.abbreviation}}</div>
              <div class="reg_courses_body__main_card__lessonDetails_item"><i class="far fa-flag pr-2"></i>{{course?.courseType.name}}</div>

              <div class="display-flex justify-content--space-btw mt-10">
                <div>
                    <i class="fas fa-graduation-cap pr-2"></i>
                  <span class="reg_courses_body__main_card__lessonDetails_item"><span [translate]="'Registrations.CP'"></span>:
                    {{course?.units}}</span>
                  <span class="reg_courses_body__main_card__lessonDetails_item"><span [translate]="'Registrations.ECTS'"></span>:
                    {{course?.ects}}</span>
                </div>

                <!-- Show less - button -->
                <div *ngIf="course.isHidden" (click)="toggleBlock(course)" class="ng-hide">
                  <div class="display-flex d-lg-none align-items--center">
                    <span class="color--gray-600" [translate]="'Registrations.Less'"></span>
                    <div class="arrow-up reg__arrow-up--container"></div>
                  </div>
                </div>
              </div>
            </div>



          </div>

          <!-- Choose the lesson (Button) -->
          <div class="reg_select-lesson_container" *ngIf="!course.isRegisteredCourse">
            <button class="reg__select-btn purple-btn" (click)="registerForCourse(course)" [translate]="'Registrations.Choose'">
            </button>
          </div>

          <!-- The lesson has been chosen. You can remove it here-->
          <div class="reg_select-lesson_container" *ngIf="course.isRegisteredCourse">
            <div class="reg__success" style="font-size:17px;" [translate]="'Registrations.Chosen'">
            </div>
            <button class="reg__btn--small reg__gray" (click)="removeCourse(course)" [translate]="'Registrations.Remove'">
            </button>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>

<!-- this will execute when the footer-bar will be open -->
<div *ngIf="footerIsOpen && canRegister" class="reg__footer--open">
  <div class="reg__footer_box1">
    <h4 class="reg__footer_title" [translate]="'Registrations.RegistrationCoursesList'"></h4>
    <div class="display-flex flex-wrap--wrap">
      <div class="reg__footer_box1_lesson" *ngFor="let addedCourse of currentRegistration.classes">
        {{addedCourse.courseClass.title || addedCourse.name}}
      </div>
    </div>
  </div>

  <div class="reg__footer_box2">
    <div class="reg__arrow-position arrow-down" (click)="changefooterIsOpen(false)"></div>
    <div class="display-flex-column align-items--center">
      <div class="mb-15" style="font-size: 17px;">
        <div class="reg__footer_label">
          <span style="white-space: nowrap;" [translate]="'Registrations.ChosenCourses'"></span>
          <span class="ml-10">{{currentRegistration.classes.length}}</span>
        </div>
        <div class="reg__footer_label">
          <span [translate]="'Registrations.UnitsCP'"></span>
          <span class="ml-10">{{totalUnits}}</span>
        </div>
        <div class="reg__footer_label">
          <span [translate]="'Registrations.UnitsECTS'"></span>
          <span class="ml-10">{{totalEcts}}</span>
        </div>
      </div>
      <div class="reg__select-btn btn btn-success" [routerLink]="['../checkout']" [translate]="'Registrations.Next'"></div>
    </div>
  </div>

</div>

<!-- this will execute when the footer-bar will be closed -->
<div *ngIf="!footerIsOpen && canRegister" class="reg__footer--closed">
  <div class="reg__footer_box1--closed">
    <span class="reg__footer_title" style="font-size:17px;" [translate]="'Registrations.ChosenCourses'"></span>
    <span class="reg__footer_number">{{currentRegistration.classes.length}}</span>
  </div>

  <div class="reg__footer_box2--closed">
    <div class="reg__arrow-position arrow-up" (click)="changefooterIsOpen(true)"></div>
    <div class="reg__select-btn btn btn-success" [routerLink]="['../checkout']" [translate]="'Registrations.Next'"></div>
  </div>
</div>

<div *ngIf="!canRegister">
  <app-msgbox *ngIf="code" (action)="enableCoursesRegistration()" title="{{'PeriodRegistrationEffectiveStatus.title' | translate: currentPeriod }}"
    icon="{{'PeriodRegistrationEffectiveStatus.' + code + '.icon' | translate }}" info="{{'PeriodRegistrationEffectiveStatus.' + code + '.info' | translate }}"
    message="{{'PeriodRegistrationEffectiveStatus.' + code + '.message' | translate: currentPeriod }}" extraMessage="{{'PeriodRegistrationEffectiveStatus.' + code + '.extraMessage' | translate }}"
    actionButton="{{'PeriodRegistrationEffectiveStatus.' + code + '.actionButton' | translate }}" actionText="{{'PeriodRegistrationEffectiveStatus.' + code + '.actionText' | translate }}">
  </app-msgbox>
</div>