<div class="btn-group nav-item px-3" dropdown>
  <button dropdownToggle type="button" class="btn btn-secondary dropdown-toggle"> {{ "Languages."+currentLang | translate:{ id: currentLang } }}
    <span class="caret"></span>
  </button>
  <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
    <li role="menuitem" *ngFor="let lang of languages"><button class="dropdown-item" [disabled]="lang===currentLang" type="button" (click)="changeLang(lang)">{{ "Languages."+lang | translate:{ id: lang } }}</button></li>
  </ul>
</div>